@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    @apply w-2 h-2 bg-slate-100 dark:bg-slate-900;
  }
  *::-webkit-scrollbar-thumb {
    @apply w-2 h-2 rounded bg-slate-300 dark:bg-slate-700;
  }
}

@layer components {
  .article {
    @apply max-w-none py-3
      prose prose-slate dark:prose-invert
      prose-headings:text-slate-800 dark:prose-headings:text-slate-200 prose-headings:scroll-mt-20
      prose-a:text-current hover:prose-a:text-sky-800 dark:hover:prose-a:text-sky-200 prose-a:underline-offset-4 [&_sup_a]:no-underline
      prose-blockquote:text-slate-600 dark:prose-blockquote:text-slate-400 [&_blockquote_p]:before:content-none [&_blockquote_p]:after:content-none
      prose-strong:text-inherit
      prose-img:mx-auto
      prose-code:text-current;
  }
}
